.top-header {
  // background: rgb(247, 111, 79);
  background: white;
  height: 14vh;
  width: 100vw;
  border-bottom: 2px solid #efefef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .logo {
    background: green;
    margin-top: 0;
    margin-left: 2rem;
    height: 100%;
    width: 190px;
  }
  .top-links {
    background: yellow;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    margin-right: 150px;
    div {
      background: skyblue;
      margin: 22px;
      padding: 22px;
    }
  }
}

.container {
  position: relative;
}

.list {
  height: 80vh;
  position: absolute;
  left: 1px;
  bottom: 1px;
  background: #efefef;
  margin-right: 0px;
  padding-right: 5px;
  overflow: scroll;
}

.map {
  background: #efefef;
  height: 80vh;
  position: absolute;
  right: 1px;
  bottom: 1px;
  margin-left: 0px;
  padding-left: 15px;
}

@media only screen and (max-width: 750px) {
  .list {
    width: 100vw;
    height: 80vh;
  }
  .map {
    width: 100vw;
    height: 80vh;
  }

  .toggle {
    z-index: 100;
    position: absolute;
    height: 25px;
    width: 100%;
    background: yellow;
  }
  .hide {
    display: none;
  }
  .show {
    display: absolute;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1100px) {
  .toggle {
    display: none;
  }
  .list {
    width: 45vw;
  }
  .map {
    width: 54vw;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1400px) {
  .toggle {
    display: none;
  }
  .list {
    width: 33vw;
  }
  .map {
    width: 66vw;
  }
}

@media only screen and (min-width: 1400px) {
  .toggle {
    display: none;
  }

  .list {
    width: 25vw;
  }

  .map {
    width: 74vw;
  }
}
