.bar {
  background: #efefef;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  padding-top: 1rem;
  // margin-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  @media (max-width: 750px) {
    flex-direction: column;
  }

  .datepicker {
    border: 1px solid white;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(56, 55, 55);
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.3rem;
    margin-right: 0.3rem;
    width: 11rem;
    @media (max-width: 750px) {
      width: 7rem;
    }
  }
}
